@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Qwitcher+Grypen:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-QwitcherGrypen: "QwitcherGryper", sans-serif;
}

:root {
  --font-rubik: "rubik", sans-serif;
}

* {
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-QwitcherGrypen);
}

body {
  background: #212629;
}

#app {
  padding: 4em;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.link {
  width: 174px;
  height: 45px;
  flex-shrink: 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 20em;
  height: auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.linkMenu ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 20px;
  list-style: none;
}

.linkMenu ul li a {
  text-decoration: none;
  color: #fff;
}

.linkMenu ul li a:hover {
  color: #00a3ff;
}

.search {
  width: 40%;
  /* margin: 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.6rem;
  border-radius: 3rem;
  background: #64697a;
  box-shadow: 5px 5px 7px #1c1d1f -5px -5px -7px #222527;
  -webkit-box-shadow: 5px 5px 7px #1c1d1f -5px -5px -7px #222527;
}

.search input {
  flex: 1;
  border: none;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background-color: #64697a;
  font-size: 1.6rem;
  font-weight: 500;
}

.search ion-icon {
  cursor: pointer;
  color: #fff;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f9d3b4;
}
.h1tprt {
  color: #fff;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}
.ow {
  display: flex;
}
.container {
  width: 100%;
  margin-top: 0rem;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container::-webkit-scrollbar{
  display: none;
}

#footerMaster {
  background: #484848;
}

@media screen and (max-width: 600px) {
  .app {
    padding: 4rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }
  .search img {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width) {
  .app {
    padding: 4rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }
  .movie {
    width: 100%;
    margin: 1rem;
  }
}
